<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Ear Trainer</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    
  </head>

  <body>
    <audio id="c4">
      <source src="/pitch_files/c4.mp3" type="audio/mpeg">
    </audio>
     <audio id="cs4">
      <source src="/pitch_files/cs4.mp3" type="audio/mpeg">
    </audio>
     <audio id="d4">
      <source src="/pitch_files/d4.mp3" type="audio/mpeg">
    </audio>
     <audio id="ds4">
      <source src="/pitch_files/ds4.mp3" type="audio/mpeg">
    </audio>
    <audio id="e4">
      <source src="/pitch_files/e4.mp3" type="audio/mpeg">
    </audio>
     <audio id="f4">
      <source src="/pitch_files/f4.mp3" type="audio/mpeg">
    </audio>
     <audio id="fs4">
      <source src="/pitch_files/fs4.mp3" type="audio/mpeg">
    </audio>
     <audio id="g4">
      <source src="/pitch_files/g4.mp3" type="audio/mpeg">
    </audio>
    <audio id="gs4">
      <source src="/pitch_files/gs4.mp3" type="audio/mpeg">
    </audio>
     <audio id="a4">
      <source src="/pitch_files/a4.mp3" type="audio/mpeg">
    </audio>
     <audio id="as4">
      <source src="/pitch_files/as4.mp3" type="audio/mpeg">
    </audio>
     <audio id="b4">
      <source src="/pitch_files/b4.mp3" type="audio/mpeg">
    </audio>
    <audio id="c5">
      <source src="/pitch_files/c5.mp3" type="audio/mpeg">
    </audio>
     <audio id="cs5">
      <source src="/pitch_files/cs5.mp3" type="audio/mpeg">
    </audio>
     <audio id="d5">
      <source src="/pitch_files/d5.mp3" type="audio/mpeg">
    </audio>
     <audio id="ds5">
      <source src="/pitch_files/ds5.mp3" type="audio/mpeg">
    </audio>
    <audio id="e5">
      <source src="/pitch_files/e5.mp3" type="audio/mpeg">
    </audio>
     <audio id="f5">
      <source src="/pitch_files/f5.mp3" type="audio/mpeg">
    </audio>
     <audio id="fs5">
      <source src="/pitch_files/fs5.mp3" type="audio/mpeg">
    </audio>
     <audio id="g5">
      <source src="/pitch_files/g5.mp3" type="audio/mpeg">
    </audio>
    <audio id="gs5">
      <source src="/pitch_files/gs5.mp3" type="audio/mpeg">
    </audio>
     <audio id="a5">
      <source src="/pitch_files/a5.mp3" type="audio/mpeg">
    </audio>
     <audio id="as5">
      <source src="/pitch_files/as5.mp3" type="audio/mpeg">
    </audio>
     <audio id="b5">
      <source src="/pitch_files/b5.mp3" type="audio/mpeg">
    </audio>
    <audio id="c6">
      <source src="./pitch_files/c6.mp3" type="audio/mpeg">
    </audio>
     <audio id="cs6">
      <source src="/pitch_files/cs6.mp3" type="audio/mpeg">
    </audio>
     <audio id="d6">
      <source src="/pitch_files/d6.mp3" type="audio/mpeg">
    </audio>
     <audio id="ds6">
      <source src="/pitch_files/ds6.mp3" type="audio/mpeg">
    </audio>
    <audio id="e6">
      <source src="/pitch_files/e6.mp3" type="audio/mpeg">
    </audio>
     <audio id="f6">
      <source src="/pitch_files/f6.mp3" type="audio/mpeg">
    </audio>
     <audio id="fs6">
      <source src="/pitch_files/fs6.mp3" type="audio/mpeg">
    </audio>
     <audio id="g6">
      <source src="/pitch_files/g6.mp3" type="audio/mpeg">
    </audio>
    <audio id="gs6">
      <source src="/pitch_files/gs6.mp3" type="audio/mpeg">
    </audio>
     <audio id="a6">
      <source src="/pitch_files/a6.mp3" type="audio/mpeg">
    </audio>
     <audio id="as6">
      <source src="/pitch_files/as6.mp3" type="audio/mpeg">
    </audio>
     <audio id="b6">
      <source src="/pitch_files/b6.mp3" type="audio/mpeg">
    </audio>
    <audio id="cM">
      <source src="/pitch_files/cM.mp3" type="audio/mpeg">
    </audio>
    <audio id="csM">
      <source src="/pitch_files/csM.mp3" type="audio/mpeg">
    </audio>
    <audio id="dM">
      <source src="/pitch_files/dM.mp3" type="audio/mpeg">
    </audio>
    <audio id="dsM">
      <source src="/pitch_files/dsM.mp3" type="audio/mpeg">
    </audio>
    <audio id="eM">
      <source src="/pitch_files/eM.mp3" type="audio/mpeg">
    </audio>
    <audio id="fM">
      <source src="/pitch_files/fM.mp3" type="audio/mpeg">
    </audio>
    <audio id="fsM">
      <source src="/pitch_files/fsM.mp3" type="audio/mpeg">
    </audio>
    <audio id="gM">
      <source src="/pitch_files/gM.mp3" type="audio/mpeg">
    </audio>
    <audio id="gsM">
      <source src="/pitch_files/gsM.mp3" type="audio/mpeg">
    </audio>
    <audio id="aM">
      <source src="/pitch_files/aM.mp3" type="audio/mpeg">
    </audio>
    <audio id="asM">
      <source src="/pitch_files/asM.mp3" type="audio/mpeg">
    </audio>
    <audio id="bM">
      <source src="/pitch_files/bM.mp3" type="audio/mpeg">
    </audio>
    <audio id="cm">
      <source src="/pitch_files/cm.mp3" type="audio/mpeg">
    </audio>
    <audio id="csm">
      <source src="/pitch_files/csm.mp3" type="audio/mpeg">
    </audio>
    <audio id="dm">
      <source src="/pitch_files/dm.mp3" type="audio/mpeg">
    </audio>
    <audio id="dsm">
      <source src="/pitch_files/dsm.mp3" type="audio/mpeg">
    </audio>
    <audio id="em">
      <source src="/pitch_files/em.mp3" type="audio/mpeg">
    </audio>
    <audio id="fm">
      <source src="/pitch_files/fm.mp3" type="audio/mpeg">
    </audio>
    <audio id="fsm">
      <source src="/pitch_files/fsm.mp3" type="audio/mpeg">
    </audio>
    <audio id="gm">
      <source src="/pitch_files/gm.mp3" type="audio/mpeg">
    </audio>
    <audio id="gsm">
      <source src="/pitch_files/gsm.mp3" type="audio/mpeg">
    </audio>
    <audio id="am">
      <source src="/pitch_files/am.mp3" type="audio/mpeg">
    </audio>
    <audio id="asm">
      <source src="/pitch_files/asm.mp3" type="audio/mpeg">
    </audio>
    <audio id="bm">
      <source src="/pitch_files/bm.mp3" type="audio/mpeg">
    </audio>
    <audio id="cd">
      <source src="/pitch_files/cd.mp3" type="audio/mpeg">
    </audio>
    <audio id="csd">
      <source src="/pitch_files/csd.mp3" type="audio/mpeg">
    </audio>
    <audio id="dd">
      <source src="/pitch_files/dd.mp3" type="audio/mpeg">
    </audio>
    <audio id="dsd">
      <source src="/pitch_files/dsd.mp3" type="audio/mpeg">
    </audio>
    <audio id="ed">
      <source src="/pitch_files/ed.mp3" type="audio/mpeg">
    </audio>
    <audio id="fd">
      <source src="/pitch_files/fd.mp3" type="audio/mpeg">
    </audio>
    <audio id="fsd">
      <source src="/pitch_files/fsd.mp3" type="audio/mpeg">
    </audio>
    <audio id="gd">
      <source src="/pitch_files/gd.mp3" type="audio/mpeg">
    </audio>
    <audio id="gsd">
      <source src="/pitch_files/gsd.mp3" type="audio/mpeg">
    </audio>
    <audio id="ad">
      <source src="/pitch_files/ad.mp3" type="audio/mpeg">
    </audio>
    <audio id="asd">
      <source src="/pitch_files/asd.mp3" type="audio/mpeg">
    </audio>
    <audio id="bd">
      <source src="/pitch_files/bd.mp3" type="audio/mpeg">
    </audio>
    <div id="app">
    
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="lead-form">
              <h1 class="text-center">Ear Training</h1>
              <hr />
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Enter Melody Length" v-model="number">
                  <input type="text" class="form-control" placeholder="Enter Milliseconds" v-model="speed">
                  <input id="focus" type="text" class="form-control" placeholder="Enter Answer" v-model="guess">
                  
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <!--<span class="city-span"></span>-->
                  <button v-on:click="esketit" class="btn btn-primary btn-block" id="submit">Submit</button>
                  <button v-on:click="removeDups" class="btn btn-primary btn-block">Remove Octaves/Repeated Notes</button>
                  <button v-on:click="playButton($event)" class="btn btn-primary btn-block" id="play-button">Play</button>
                  <button @click="clear" class="btn btn-primary btn-block" id="clear-button">Clear</button>
                  <select name="keys" v-model="key">
                      <option value="Chromatic">Chromatic</option>
                      <option value="White Keys">White Keys</option>
                      <option value="Black Keys">Black Keys</option>
                      <option value="Whole Steps C">Whole Steps C</option>
                      <option value="Whole Steps C#">Whole Steps C#</option>
                      <option value="C# Major">C# Major</option>
                      <option value="B Major">B Major</option>
                      <option value="A Major">A Major</option>
                      <option value="E Major">E Major</option>
                      <option value="F# Major">F# Major</option>
                      <option value="A# Major">A# Major</option>
                      <option value="D Major">D Major</option>
                      <option value="F Major">F Major</option>
                      <option value="G Major">G Major</option>
                      <option value="D# Major">D# Major</option>
                      <option value="G# Major">G# Major</option>
                      <option value="C Blues Scale">C Blues Scale</option>
                      <option value="First Octave">First Octave</option>
                      <option value="Second Octave">Second Octave</option>
                      <option value="Third Octave">Third Octave</option>
                      <option value="Major Chords">Major Chords</option>
                      <option value="Minor Chords">Minor Chords</option>
                      <option value="Diminished Chords">Diminished Chords</option>
                      <option value="Major and Minor Chords">Major and Minor Chords</option>
                      <option value="Major and Diminished Chords">Major and Diminished Chords</option>
                      <option value="Minor and Diminished Chords">Minor and Diminished Chords</option>
                      <option value="C Major Chords">C Major Chords</option>
                      <option value="C Minor Chords">C Minor Chords</option>
                      <option value="B Major Chords">B Major Chords</option>
                      <option value="B Minor Chords">B Minor Chords</option>
                      <option value="Triad Chords">Triad Chords</option>
                      <option value="A Harmonic Minor">A Harmonic Minor</option>
                      <option value="A# Harmonic Minor">A# Harmonic Minor</option>
                      <option value="B Harmonic Minor">B Harmonic Minor</option>
                      <option value="C Harmonic Minor">C Harmonic Minor</option>
                      <option value="C# Harmonic Minor">C# Harmonic Minor</option>
                      <option value="D Harmonic Minor">D Harmonic Minor</option>
                      <option value="D# Harmonic Minor">D# Harmonic Minor</option>
                      <option value="E Harmonic Minor">E Harmonic Minor</option>
                      <option value="F Harmonic Minor">F Harmonic Minor</option>
                      <option value="F# Harmonic Minor">F# Harmonic Minor</option>
                      <option value="G Harmonic Minor">G Harmonic Minor</option>
                      <option value="G# Harmonic Minor">G# Harmonic Minor</option>
                  </select>
                  
                  <input type="checkbox" id="checkbox" v-model="reveal">
                  <label for="checkbox">Show Answer</label>
                  <input type="checkbox" id="first" v-model="first">
                  <label for="first">Show First Note</label>
                  
                  
                  <span class="city-span">{{assessment}}</span>
                </div>
              </div>
              <!--<div>-->
              
              <!--</div>-->
              
            </div><!-- end of .lead-form -->
          </div> <!-- end of .col-md-6.col-md-offset-3 -->
        </div> <!-- end of .row -->
      </div> <!-- end of .container -->
      <div align="center">
        <canvas @click="clickKeys($event)" id="myCanvas" align="center" width="457.1" height="326.5" style="border:1px solid #3b3d42"></canvas>
      </div>

    </div> <!-- end of #app -->
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <!--<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>-->
    
  </body>

  <script>
    window.onload = function(){
      
      makeBoard()
      
    }
    
    function makeBoard(){
      
      var canvas = document.getElementById("myCanvas")
      var key = canvas.getContext("2d")
      key.fillStyle = "#3b3d42"
      key.strokeStyle = "#3b3d42"
      key.fillRect(43.1, 0, 32.7, 215.5)
      key.fillRect(120.2, 0, 32.7, 215.5)
      key.fillRect(239, 0, 32.7, 215.5)
      key.fillRect(310.2, 0, 32.7, 215.5)
      key.fillRect(381.4, 0, 32.7, 215.5)
    
      key.moveTo(65.3, 215.7)
      key.lineTo(65.3, 326.5)
      key.moveTo(130.6, 215.7)
      key.lineTo(130.6, 326.5)
      key.moveTo(195.9, 0)
      key.lineTo(195.9, 326.5)
      key.moveTo(261.2, 215.7)
      key.lineTo(261.2, 326.5)
      key.moveTo(326.5, 215.7)
      key.lineTo(326.5, 326.5)
      key.moveTo(391.8, 215.7)
      key.lineTo(391.8, 326.5)
      key.stroke()
      
    }
    
    var app = new Vue({
      el: '#app',
      
      data: {
        
        number: '',
        melody: [],
        count: '',
        timer: '',
        speed: '',
        guess: '',
        assessment: '',
        reveal: '',
        first: '',
        show: '',
        coordAtA: [],
        coordAtC: [],
        coordAtD: [],
        coordAtE: [],
        coordAtF: [],
        coordAtG: [],
        coordAtH: [],
        colorOn: [],
        melody_string: [],
        check_string: '',
        key: "Chromatic"
      },
      
      watch: {
        
        number: function(){
          
          if (this.number > 0 && this.number < 100){
            
            this.clear()
            
            
          }
          
          var length_m = this.melody.length
          if (this.number != length_m){
            
            this.clear()
            
          }
          
          
        },
        
        count: function(){
          
          if (this.count >= 0){
            
            this.showIt()
            
          }
          
          if (this.count == this.melody.length){
            
            this.show = this.melody[this.count-1]
            clearInterval(this.timer)
            
          }
          
        },
        
        guess: function(){
         
          if(this.guess != false){
              
            this.assess()
            
          }
         
        },
         
        key: function(){
          
          if(this.key){
          
              this.clear()
            
          }
    
        },
        
        reveal: function(){
          
          if(this.reveal == true){
            this.first = false
          }
        },
        
        first: function(){
          
          if(this.first == true){
            this.reveal = false
          }
        }
      
      },
      
      
      
      /*directives: {
       
        liteBoard: {
          
          bind: function(){
            
            var canvas = document.getElementById("myCanvas")
            var key = canvas.getContext("2d")
            key.fillStyle = "#000000"
            //key.beginPath()
            key.fillRect(43.1, 0, 32.7, 215.5)
            //key.fillRect(120.2, 0, 32.7, 215.5)
            //key.fillRect(239, 0, 32.7, 215.5)
            //key.fillRect(310.2, 0, 32.7, 215.5)
            //key.fillRect(381.4, 0, 32.7, 215.5)
            // 0, 43.1, 75.8, 120.2, 152.9, 195.9, 239, 271.7, 310.2, 342.9, 381.4, 414.1
          
        }
          
      }
        
    },
      */
     
      methods: {
        
        assess: function(){
          
          this.assessment = ''
          
          if(this.guess == this.check_string){
            
            this.assessment = "correct!"
            this.guess = ""
            setTimeout(this.clear, 1000)
            
            
          }
          
        }, 
        
        clickKeys: function(event){
          
          var canvas = document.getElementById("myCanvas")
          var ckey = canvas.getContext("2d")
          
          var x = event.clientX
          var y = event.clientY
          var corner = canvas.offsetLeft
          var top = canvas.offsetTop
          var bottom = canvas.offsetTop
          var screen = event.screenY
          
          //this.assessment = screen + ", " + top + "," + corner + ", " + x + ", " + y
          
          
          
          if(x < 43.1+corner && y < bottom+230 || x < 68+corner && y > bottom+119){
                
            var pitch = document.getElementById("c6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          
          }else if(x < 75.8+corner && y < bottom+120){//blackKeyBottom){
            
            var pitch = document.getElementById("cs6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 120.2+corner && y < bottom+230 || x < 132+corner && y > bottom+119){
            
            var pitch = document.getElementById("d6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 152.9+corner && y < bottom+120){
            
            var pitch = document.getElementById("ds6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
            
          }else if(x < 197.5+corner && y < bottom+230){
            
            var pitch = document.getElementById("e6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 239+corner && y < bottom+230 || x < 263+corner && y > bottom+119){
            
            var pitch = document.getElementById("f6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 271.7+corner && y < bottom+120){
            
            var pitch = document.getElementById("fs6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
            
          }else if(x < 310.2+corner && y < bottom+230 || x < 329+corner && y > bottom+119){
            
            var pitch = document.getElementById("g6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 342.9+corner && y < bottom+120){
            
            var pitch = document.getElementById("gs6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 381.4+corner && y < bottom+230 || x < 394+corner && y > bottom+119){
            
            var pitch = document.getElementById("a6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 414.1+corner && y < bottom+120){
            
            var pitch = document.getElementById("as6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }else if(x < 457.1+corner && y < bottom+230){
            
            var pitch = document.getElementById("b6")
            pitch.load()
            pitch.play()
    
            .catch(error => {
                  
            })
          }
         
        },
        
        esketit: function(){
          
          this.assessment = ''
          var guess_array = this.guess.split("")
          var answer_array = this.check_string.split("")
          var x = 0
          var matchFound = 0
          var i = 0
          var guess_length = this.guess.length
          var check_string_length = this.check_string.length
          
          while(i < guess_length){
            if(x == check_string_length){
              return
            }
            if(guess_length > check_string_length){
              return
            }
            if(guess_array[i] == answer_array[x]){
              x = 0
              i++
              matchFound++
            }else{
              x++
            }
          }
          
          if(matchFound == check_string_length){
            
            this.assessment = "correct!"
            this.guess = ""
            setTimeout(this.clear, 1000)
            
          }else{
            return
          }
          
        },
        
        clear: function(){
          
          this.melody = []
          this.assessment = ''
          this.check_string = ''
          this.melody_string = ''
          this.makeMelody()
          
        },
        
        removeDups: function(){
          
          var i = 0
          var x = 1
          var mel_length = this.melody_string.length
          
          while(i < mel_length-1){
            
            if(x == mel_length){
              i++
              x = i+1
            }
            if(this.melody_string[i] == this.melody_string[x]){
              
              this.melody_string[i] = "*"
              i++
              x = i+1
              
            }else{
              x++
            }
          }
          
         
          var array = this.melody_string.join("")
          var array2 = array.split("*")
          
          
          this.check_string = array2.join("")
          //this.assessment = this.check_string
        },
        
        makeMelody: function() {
          
          var randomInt = ''
          
          var key_array = []
          this.check_string = ''
          this.melody_string = []
          
          var array_length = 36
          
          if(this.key == "C Major Chords"){
            
            key_array = ["cM", "dm", "em", "fM", "gM", "am", "bd", "cM", "dm", "em", "fM", "gM", "am", "bd", "cM", "dm", "em", "fM", "gM", "am", "bd", "cM", "dm", "em", "fM", "gM", "am", "bd", "cM", "dm", "em", "fM", "gM", "am", "bd", "cM"]
            
          }
          if(this.key == "C Minor Chords"){
            
            key_array = ["cm", "dd", "dsM", "fm", "gM", "gsM", "bd", "cm", "dd", "dsM", "fm", "gM", "gsM", "bd", "cm", "dd", "dsM", "fm", "gM", "gsM", "bd", "cm", "dd", "dsM", "fm", "gM", "gsM", "bd","cm", "dd", "dsM", "fm", "gM", "gsM", "bd", "cm"]
          
          }
          if(this.key == "Whole Steps C"){
            
            key_array = ["c4", "c4", "d4", "d4", "e4", "e4", "fs4", "fs4", "gs4", "gs4", "as4", "as4", "c5", "c5", "d5", "d5", "e5", "e5", "fs5", "fs5", "gs5", "gs5", "as5", "as5", "c6", "c6", "d6", "d6", "e6", "e6", "fs6", "fs6", "gs6", "gs6", "as6", "as6"]
            
          }
          if(this.key == "Whole Steps C#"){
            
            key_array = ["cs4", "cs4", "ds4", "ds4", "f4", "f4", "g4", "g4", "a4", "a4", "b4", "b4", "cs5", "cs5", "ds5", "ds5", "f5", "f5", "g5", "g5", "a5", "a5", "b5", "b5", "cs6", "cs6", "ds6", "ds6", "f6", "f6", "g6", "g6", "a6", "a6", "b6", "b6"]
            
          }
          if(this.key == "Major and Diminished Chords"){
            
            key_array = ["cM", "csM", "dM", "dsM", "eM", "fM", "fsM", "gM", "gsM", "aM", "asM", "bM", "cd", "csd", "dd", "ed", "fd", "fsd", "gd", "gsd", "ad", "asd", "bd", "cd", "csM", "dd", "dsM", "ed", "fM", "fsd", "gM", "gsd", "aM", "asd", "bM"]
          
          }
          if(this.key == "Minor and Diminished Chords"){
            
            key_array = ["cm", "csm", "dm", "dsm", "em", "fm", "fsm", "gm", "gsm", "am", "asm", "bm", "cd", "csd", "dd", "ed", "fd", "fsd", "gd", "gsd", "ad", "asd", "bd", "cm", "csd", "dm", "dsd", "em", "fd", "fsm", "gd", "gsm", "ad", "asm", "bd"]
            
          }
          if(this.key == "Major and Minor Chords"){
            
            key_array = ["cM", "csM", "dM", "dsM", "eM", "fM", "fsM", "gM", "gsM", "aM", "asM", "bM", "cm", "csm", "dm", "dsm", "em", "fm", "fsm", "gm", "gsm", "am", "asm", "bm", "cM", "csm", "dM", "dsm", "eM", "fm", "fsM", "gm", "gsM", "am", "asM", "bm"]
          
          }
          if(this.key == "Diminished Chords"){
          
            key_array = ["cd", "csd", "dd", "ed", "fd", "fsd", "gd", "gsd", "ad", "asd", "bd", "cd", "csd", "dd", "ed", "fd", "fsd", "gd", "gsd", "ad", "asd", "bd", "cd", "csd", "dd", "ed", "fd", "fsd", "gd", "gsd", "ad", "asd", "bd"]
           
          }
          if(this.key == "Triad Chords"){
            
            key_array = ["cM", "csM", "dM", "dsM", "eM", "fM", "fsM", "gM", "gsM", "aM", "asM", "bM", "cm", "csm", "dm", "dsm", "em", "fm", "fsm", "gm", "gsm", "am", "asm", "bm", "cd", "csd", "dd", "ed", "fd", "fsd", "gd", "gsd", "ad", "asd", "bd"]
          
          }
          if(this.key == "Minor Chords"){
          
            key_array = ["cm", "csm", "dm", "dsm", "em", "fm", "fsm", "gm", "gsm", "am", "asm", "bm", "cm", "csm", "dm", "dsm", "em", "fm", "fsm", "gm", "gsm", "am", "asm", "bm", "cm", "csm", "dm", "dsm", "em", "fm", "fsm", "gm", "gsm", "am", "asm", "bm"] 
          
          }
          if(this.key == "Major Chords"){
            
            key_array = ["cM", "csM", "dM", "dsM", "eM", "fM", "fsM", "gM", "gsM", "aM", "asM", "bM", "cM", "csM", "dM", "dsM", "eM", "fM", "fsM", "gM", "gsM", "aM", "asM", "bM", "cM", "csM", "dM", "dsM", "eM", "fM", "fsM", "gM", "gsM", "aM", "asM", "bM"]
            
          }
          if(this.key == "First Octave"){
            
            key_array = ["c4", "cs4", "d4", "ds4", "e4", "f4", "fs4", "g4", "gs4", "a4", "as4", "b4", "c4", "cs4", "d4", "ds4", "e4", "f4", "fs4", "g4", "gs4", "a4", "as4", "b4", "c4", "cs4", "d4", "ds4", "e4", "f4", "fs4", "g4", "gs4", "a4", "as4", "b4"]

          }
          if(this.key == "Second Octave"){
            
            key_array = ["c5", "cs5", "d5", "ds5", "e5", "f5", "fs5", "g5", "gs5", "a5", "as5", "b5", "c5", "cs5", "d5", "ds5", "e5", "f5", "fs5", "g5", "gs5", "a5", "as5", "b5", "c5", "cs5", "d5", "ds5", "e5", "f5", "fs5", "g5", "gs5", "a5", "as5", "b5"]

            
          }
          if(this.key == "Third Octave"){
            
            key_array = ["c6", "cs6", "d6", "ds6", "e6", "f6", "fs6", "g6", "gs6", "a6", "as6", "b6", "c6", "cs6", "d6", "ds6", "e6", "f6", "fs6", "g6", "gs6", "a6", "as6", "b6", "c6", "cs6", "d6", "ds6", "e6", "f6", "fs6", "g6", "gs6", "a6", "as6", "b6"]

          }
          
          if(this.key == "Chromatic"){
              
            key_array = ["c4", "cs4", "d4", "ds4", "e4", "f4", "fs4", "g4", "gs4", "a4", "as4", "b4", "c5", "cs5", "d5", "ds5", "e5", "f5", "fs5", "g5", "gs5", "a5", "as5", "b5", "c6", "cs6", "d6", "ds6", "e6", "f6", "fs6", "g6", "gs6", "a6", "as6", "b6"]
            
          }
          if(this.key == "White Keys"){
              
            key_array = ["c4", "c4", "d4", "d4", "e4", "f4", "f4", "g4", "g4", "a4", "a4", "b4", "c5", "c5", "d5", "d5", "e5", "f5", "f5", "g5", "g5", "a5", "a5", "b5", "c6", "c6", "d6", "d6", "e6", "f6", "f6", "g6", "g6", "a6", "a6", "b6"]
            
          }
          if(this.key == "Black Keys"){
              
            key_array = ["cs4", "cs4", "ds4", "ds4", "ds4", "fs4", "fs4", "gs4", "gs4", "gs4", "as4", "as4", "cs5", "cs5", "ds5", "ds5", "ds5", "fs5", "fs5", "gs5", "gs5", "gs5", "as5", "as5", "cs6", "cs6", "ds6", "ds6", "ds6", "fs6", "fs6", "gs6", "gs6", "gs6", "as6", "as6"]

          }
          if(this.key == "C# Major"){
              
            key_array = ["c4", "cs4", "cs4", "ds4", "ds4", "f4", "fs4", "fs4", "gs4", "gs4", "as4", "as4", "c5", "cs5", "cs5", "ds5", "ds5", "f5", "fs5", "fs5", "gs5", "gs5", "as5", "as5", "c6", "cs6", "cs6", "ds6", "ds6", "f6", "fs6", "fs6", "gs6", "gs6", "as6", "as6"]

          }
          if(this.key == "B Major"){
              
            key_array = ["cs4", "cs4", "ds4", "ds4", "e4", "fs4", "fs4", "gs4", "gs4", "as4", "b4", "b4", "cs5", "cs5", "ds5", "ds5", "e5", "fs5", "fs5", "gs5", "gs5", "as5", "b5", "b5", "cs6", "cs6", "ds6", "ds6", "e6", "fs6", "fs6", "gs6", "gs6", "as6", "b6", "b6"]

          }
          if(this.key == "A Major"){
              
            key_array = ["cs4", "cs4", "d4", "d4", "e4", "fs4", "fs4", "gs4", "gs4", "a4", "a4", "b4", "cs5", "cs5", "d5", "d5", "e5", "fs5", "fs5", "gs5", "gs5", "a5", "a5", "b5", "cs6", "cs6", "d6", "d6", "e6", "fs6", "fs6", "gs6", "gs6", "a6", "a6", "b6"]
    
          }
          if(this.key == "E Major"){
              
            key_array = ["cs4", "cs4", "ds4", "ds4", "e4", "fs4", "fs4", "gs4", "gs4", "a4", "a4", "b4", "cs5", "cs5", "ds5", "ds5", "e5", "fs5", "fs5", "gs5", "gs5", "a5", "a5", "b5", "cs6", "cs6", "ds6", "ds6", "e6", "fs6", "fs6", "gs6", "gs6", "a6", "a6", "b6"]

          }
          if(this.key == "F# Major"){
            
            key_array = ["cs4", "cs4", "ds4", "ds4", "f4", "fs4", "fs4", "gs4", "gs4", "as4", "as4", "b4", "cs5", "cs5", "ds5", "ds5", "f5", "fs5", "fs5", "gs5", "gs5", "as5", "as5", "b5", "cs6", "cs6", "ds6", "ds6", "f6", "fs6", "fs6", "gs6", "gs6", "as6", "as6", "b6"]
          
          }
          if(this.key == "A# Major"){
              
            key_array = ["c4", "c4", "d4", "d4", "ds4", "f4", "f4", "g4", "g4", "a4", "as4", "as4", "c5", "c5", "d5", "d5", "ds5", "f5", "f5", "g5", "g5", "a5", "as5", "as5", "c6", "c6", "d6", "d6", "ds6", "f6", "f6", "g6", "g6", "a6", "as6", "as6"]
          
          }
          if(this.key == "D Major"){
              
            key_array = ["cs4", "cs4", "d4", "d4", "e4", "fs4", "fs4", "g4", "g4", "a4", "a4", "b4", "cs5", "cs5", "d5", "d5", "e5", "fs5", "fs5", "g5", "g5", "a5", "a5", "b5", "cs6", "cs6", "d6", "d6", "e6", "fs6", "fs6", "g6", "g6", "a6", "a6", "b6"]
          
          }
          if(this.key == "G Major"){
          
            key_array = ["c4", "c4", "d4", "d4", "e4", "fs4", "fs4", "g4", "g4", "a4", "a4", "b4", "c5", "c5", "d5", "d5", "e5", "fs5", "fs5", "g5", "g5", "a5", "a5", "b5", "c6", "c6", "d6", "d6", "e6", "fs6", "fs6", "g6", "g6", "a6", "a6", "b6"]
          
          }
          if(this.key == "F Major"){
              
            key_array = ["c4", "c4", "d4", "d4", "e4", "f4", "f4", "g4", "g4", "a4", "a4", "as4", "c5", "c5", "d5", "d5", "e5", "f5", "f5", "g5", "g5", "a5", "a5", "as5", "c6", "c6", "d6", "d6", "e6", "f6", "f6", "g6", "g6", "a6", "a6", "as6"]
          
          }
          if(this.key == "G# Major"){
          
            key_array = ["cs4", "cs4", "ds4", "ds4", "f4", "g4", "g4", "gs4", "gs4", "as4", "as4", "c4", "cs5", "cs5", "ds5", "ds5", "f5", "g5", "g5", "gs5", "gs5", "as5", "as5", "c5", "cs6", "cs6", "ds6", "ds6", "f6", "g6", "g6", "gs6", "gs6", "as6", "as6", "c6"]
          
          }
          if(this.key == "D# Major"){
          
            key_array = ["c4", "c4", "d4", "ds4", "ds4", "f4", "g4", "g4", "gs4", "gs4", "as4", "as4", "c5", "c5", "d5", "ds5", "ds5", "f5", "g5", "g5", "gs5", "gs5", "as5", "as5", "c6", "c6", "d6", "ds6", "ds6", "f6", "g6", "g6", "gs6", "gs6", "as6", "as6"]
            
          }
          if(this.key == "C Blues Scale"){
            
            key_array = ["c4", "c4", "ds4", "ds4", "f4", "f4", "fs4", "fs4", "g4", "g4", "as4", "as4", "c5", "c5", "ds5", "ds5", "f5", "f5", "fs5", "fs5", "g5", "g5", "as5", "as5", "c6", "c6", "ds6", "ds6", "f6", "f6", "fs6", "fs6", "g6", "g6", "as6", "as6"]
          
          }
          if(this.key == "A Harmonic Minor"){
            
            key_array = ["c4", "c4", "d4", "d4", "e4", "f4", "f4", "gs4", "gs4", "a4", "a4", "b4", "c5", "c5", "d5", "e5", "e5", "f5", "f5", "gs5", "gs5", "a5", "b5", "b5", "c6", "c6", "d6", "d6", "e6", "f6", "f6", "gs6", "gs6", "a6", "a6", "b6"]
          
            
          }
          if(this.key == "A# Harmonic Minor"){
            
            key_array = ["c4", "cs4", "cs4", "ds4", "ds4", "f4", "fs4", "fs4", "a4", "a4", "as4", "as4", "c5", "cs5", "cs5", "ds5", "ds5", "f5", "fs5", "fs5", "a5", "a5", "as5", "as5", "c6", "cs6", "cs6", "ds6", "ds6", "f6", "fs6", "fs6", "a6", "a6", "as6", "as6"]
          
          }
          if(this.key == "B Harmonic Minor"){
            
            key_array = ["cs4", "d4", "d4", "e4", "e4", "fs4", "g4", "g4", "as4", "as4", "b4", "b4", "cs5", "d5", "d5", "e5", "e5", "fs5", "g5", "g5", "as5", "as5", "b5", "b5", "cs6", "d6", "d6", "e6", "e6", "fs6", "g6", "g6", "as6", "as6", "b6", "b6"]
            
          }
          if(this.key == "C Harmonic Minor"){
            
            key_array = ["c4", "c4", "d4", "d4", "ds4", "ds4", "f4", "g4", "g4", "gs4", "b4", "b4", "c5", "c5", "d5", "d5", "ds5", "ds5", "f5", "g5", "g5", "gs5", "b5", "b5", "c6", "c6", "d6", "d6", "ds6", "ds6", "f6", "g6", "g6", "gs6", "b6", "b6"]
            
          }
          if(this.key == "C# Harmonic Minor"){
            
            key_array = ["c4", "c4", "cs4", "cs4", "ds4", "ds4", "e4", "e4", "fs4", "gs4", "gs4", "a4", "c5", "c5", "cs5", "cs5", "ds5", "ds5", "e5", "e5", "fs5", "gs5", "gs5", "a5", "c6", "c6", "cs6", "cs6", "ds6", "ds6", "e6", "e6", "fs6", "gs6", "gs6", "a6"]
            
          }
          if(this.key == "D Harmonic Minor"){
            
            key_array = ["cs4", "cs4", "d4", "d4", "e4", "e4", "f4", "f4", "g4", "a4", "a4", "as4", "cs5", "cs5", "d5", "d5", "e5", "e5", "f5", "f5", "g5", "a5", "a5", "as5", "cs6", "cs6", "d6", "d6", "e6", "e6", "f6", "f6", "g6", "a6", "a6", "as6"]
            
          }
          if(this.key == "D# Harmonic Minor"){
            
            key_array = ["d4", "d4", "ds4", "ds4", "f4", "f4", "fs4", "fs4", "gs4", "as4", "as4", "b4", "d5", "d5", "ds5", "ds5", "f5", "f5", "fs5", "fs5", "gs5", "as5", "as5", "b5", "d6", "d6", "ds6", "ds6", "f6", "f6", "fs6", "fs6", "gs6", "as6", "as6", "b6"]
            
          }
          if(this.key == "E Harmonic Minor"){
            
            key_array = ["c4", "d4", "d4", "e4", "e4", "fs4", "fs4", "g4", "g4", "a4", "b4", "b4", "c5", "d5", "d5", "e5", "e5", "fs5", "fs5", "g5", "g5", "a5", "b5", "b5", "c6", "d6", "d6", "e6", "e6", "fs6", "fs6", "g6", "g6", "a6", "b6", "b6"]
            
          }
          if(this.key == "F Harmonic Minor"){
            
            key_array = ["c4", "c4", "cs4", "ds4", "ds4", "f4", "f4", "g4", "g4", "gs4", "gs4", "as4", "c5", "c5", "cs5", "ds5", "ds5", "f5", "f5", "g5", "g5", "gs5", "gs5", "as5", "c6", "c6", "cs6", "ds6", "ds6", "f6", "f6", "g6", "g6", "gs6", "gs6", "as6"]
            
          }
          if(this.key == "F# Harmonic Minor"){
            
            key_array = ["cs4", "cs4", "d4", "e4", "e4", "fs4", "fs4", "gs4", "gs4", "a4", "a4", "b4", "cs5", "cs5", "d5", "e5", "e5", "fs5", "fs5", "gs5", "gs5", "a5", "a5", "b5", "cs6", "cs6", "d6", "e6", "e6", "fs6", "fs6", "gs6", "gs6", "a6", "a6", "b6"]
            
          }
          if(this.key == "G Harmonic Minor"){
            
            key_array = ["c4", "d4", "d4", "ds4", "f4", "f4", "g4", "g4", "a4", "a4", "as4", "as4", "c5", "d5", "d5", "ds5", "f5", "f5", "g5", "g5", "a5", "a5", "as5", "as5", "c6", "d6", "d6", "ds6", "f6", "f6", "g6", "g6", "a6", "a6", "as6", "as6"]
            
          }
          if(this.key == "G# Harmonic Minor"){
            
            key_array = ["cs4", "ds4", "ds4", "e4", "fs4", "fs4", "gs4", "gs4", "as4", "as4", "b4", "cs5", "ds5", "ds5", "e5", "fs5", "fs5", "gs5", "gs5", "as5", "as5", "b5", "cs6", "ds6", "ds6", "e6", "fs6", "fs6", "gs6", "gs6", "as6", "as6", "b6"]
            
          }
          
          var keyCoordsA = [0, 43.1, 75.8, 120.2, 152.9, 195.9, 239, 271.7, 310.2, 342.9, 381.4, 414.1]
          var keyCoordsC = [43.1, 32.7, 44.4, 32.7, 43.1, 43.1, 32.7, 38.5, 32.7, 38.5, 32.7, 43.1]
          var keyCoordsD = [215.7, 215.5, 215.7, 215.5, 215.7, 215.7, 215.5, 215.7, 215.5, 215.7, 215.5, 215.7]
          var keyCoordsE = [0, 43.1, 65.3, 120.2, 130.6, 195.9, 239, 261.2, 310.2, 326.5, 381.4, 391.8]
          var keyCoordsF = [215.71, 326.5, 215.71, 326.5, 215.71, 215.5, 326.5, 215.71, 326.5, 215.71, 326.5, 215.71]
          var keyCoordsG = [65.3, 32.7, 65.3, 32.7, 65.3, 65.3, 32.7, 65.3, 32.7, 65.3, 32.7, 65.3]
          var keyCoordsH = [326.5, 215.5, 326.5, 215.5, 326.5, 326.5, 215.5, 326.5, 215.5, 326.5, 215.5, 326.5]
          var keyColors = ["#FFCBDF", "#ECD61B", "#C5FD9F", "#FF8500", "#F2FC74", "#FFD275", "#8EDEAD", "#CB8807", "#CF3A76", "#F83B3B", "#30D1CA", "#C2EFF5"]
          
          var save = ''
          
          for (var i = 0; i < this.number; i++){
            
            randomInt = parseInt(Math.random() * array_length)
            this.melody[i] = key_array[randomInt]
            save = this.melody[i].length
            this.melody_string[i] = key_array[randomInt].slice(0,save-1)
            
            if(this.melody_string[i] == "c"){
              this.colorOn[i] = keyColors[0]
              this.coordAtA[i] = keyCoordsA[0]
              this.coordAtC[i] = keyCoordsC[0]
              this.coordAtD[i] = keyCoordsD[0]
              this.coordAtE[i] = keyCoordsE[0]
              this.coordAtF[i] = keyCoordsF[0]
              this.coordAtG[i] = keyCoordsG[0]
              this.coordAtH[i] = keyCoordsH[0]
            }
            if(this.melody_string[i] == "cs"){
              this.colorOn[i] = keyColors[1]
              this.coordAtA[i] = keyCoordsA[1]
              this.coordAtC[i] = keyCoordsC[1]
              this.coordAtD[i] = keyCoordsD[1]
              this.coordAtE[i] = keyCoordsE[1]
              this.coordAtF[i] = keyCoordsF[1]
              this.coordAtG[i] = keyCoordsG[1]
              this.coordAtH[i] = keyCoordsH[1]
            }
            if(this.melody_string[i] == "d"){
              this.colorOn[i] = keyColors[2]
              this.coordAtA[i] = keyCoordsA[2]
              this.coordAtC[i] = keyCoordsC[2]
              this.coordAtD[i] = keyCoordsD[2]
              this.coordAtE[i] = keyCoordsE[2]
              this.coordAtF[i] = keyCoordsF[2]
              this.coordAtG[i] = keyCoordsG[2]
              this.coordAtH[i] = keyCoordsH[2]
            }
            if(this.melody_string[i] == "ds"){
              this.colorOn[i] = keyColors[3]
              this.coordAtA[i] = keyCoordsA[3]
              this.coordAtC[i] = keyCoordsC[3]
              this.coordAtD[i] = keyCoordsD[3]
              this.coordAtE[i] = keyCoordsE[3]
              this.coordAtF[i] = keyCoordsF[3]
              this.coordAtG[i] = keyCoordsG[3]
              this.coordAtH[i] = keyCoordsH[3]
            }
            if(this.melody_string[i] == "e"){
              this.colorOn[i] = keyColors[4]
              this.coordAtA[i] = keyCoordsA[4]
              this.coordAtC[i] = keyCoordsC[4]
              this.coordAtD[i] = keyCoordsD[4]
              this.coordAtE[i] = keyCoordsE[4]
              this.coordAtF[i] = keyCoordsF[4]
              this.coordAtG[i] = keyCoordsG[4]
              this.coordAtH[i] = keyCoordsH[4]
            }
            if(this.melody_string[i] == "f"){
              this.colorOn[i] = keyColors[5]
              this.coordAtA[i] = keyCoordsA[5]
              this.coordAtC[i] = keyCoordsC[5]
              this.coordAtD[i] = keyCoordsD[5]
              this.coordAtE[i] = keyCoordsE[5]
              this.coordAtF[i] = keyCoordsF[5]
              this.coordAtG[i] = keyCoordsG[5]
              this.coordAtH[i] = keyCoordsH[5]
            }
            if(this.melody_string[i] == "fs"){
              this.colorOn[i] = keyColors[6]
              this.coordAtA[i] = keyCoordsA[6]
              this.coordAtC[i] = keyCoordsC[6]
              this.coordAtD[i] = keyCoordsD[6]
              this.coordAtE[i] = keyCoordsE[6]
              this.coordAtF[i] = keyCoordsF[6]
              this.coordAtG[i] = keyCoordsG[6]
              this.coordAtH[i] = keyCoordsH[6]
            }
            if(this.melody_string[i] == "g"){
              this.colorOn[i] = keyColors[7]
              this.coordAtA[i] = keyCoordsA[7]
              this.coordAtC[i] = keyCoordsC[7]
              this.coordAtD[i] = keyCoordsD[7]
              this.coordAtE[i] = keyCoordsE[7]
              this.coordAtF[i] = keyCoordsF[7]
              this.coordAtG[i] = keyCoordsG[7]
              this.coordAtH[i] = keyCoordsH[7]
            }
            if(this.melody_string[i] == "gs"){
              this.colorOn[i] = keyColors[8]
              this.coordAtA[i] = keyCoordsA[8]
              this.coordAtC[i] = keyCoordsC[8]
              this.coordAtD[i] = keyCoordsD[8]
              this.coordAtE[i] = keyCoordsE[8]
              this.coordAtF[i] = keyCoordsF[8]
              this.coordAtG[i] = keyCoordsG[8]
              this.coordAtH[i] = keyCoordsH[8]
            }
            if(this.melody_string[i] == "a"){
              this.colorOn[i] = keyColors[9]
              this.coordAtA[i] = keyCoordsA[9]
              this.coordAtC[i] = keyCoordsC[9]
              this.coordAtD[i] = keyCoordsD[9]
              this.coordAtE[i] = keyCoordsE[9]
              this.coordAtF[i] = keyCoordsF[9]
              this.coordAtG[i] = keyCoordsG[9]
              this.coordAtH[i] = keyCoordsH[9]
            }
            if(this.melody_string[i] == "as"){
              this.colorOn[i] = keyColors[10]
              this.coordAtA[i] = keyCoordsA[10]
              this.coordAtC[i] = keyCoordsC[10]
              this.coordAtD[i] = keyCoordsD[10]
              this.coordAtE[i] = keyCoordsE[10]
              this.coordAtF[i] = keyCoordsF[10]
              this.coordAtG[i] = keyCoordsG[10]
              this.coordAtH[i] = keyCoordsH[10]
            }
            if(this.melody_string[i] == "b"){
              this.colorOn[i] = keyColors[11]
              this.coordAtA[i] = keyCoordsA[11]
              this.coordAtC[i] = keyCoordsC[11]
              this.coordAtD[i] = keyCoordsD[11]
              this.coordAtE[i] = keyCoordsE[11]
              this.coordAtF[i] = keyCoordsF[11]
              this.coordAtG[i] = keyCoordsG[11]
              this.coordAtH[i] = keyCoordsH[11]
            }
            
          }
          
          this.check_string = this.melody_string.join("")
          this.count = 0
          
        },
        
        showIt: function(){
          
          var i = this.count
          
         if(this.count > 0 && this.reveal == true){
            
            this.show = this.melody[i-1]
            var canvas= document.getElementById("myCanvas")
            var ckey = canvas.getContext("2d")
            ckey.fillStyle = this.colorOn[i-1]
            ckey.fillRect(this.coordAtA[i-1],0,this.coordAtC[i-1],this.coordAtD[i-1])
            ckey.fillRect(this.coordAtE[i-1],this.coordAtF[i-1],this.coordAtG[i-1],this.coordAtH[i-1])
            ckey.lineWidth = 1
            ckey.strokeStyle=this.colorOn[i-1]
            ckey.strokeRect(this.coordAtE[i-1],this.coordAtF[i-1],this.coordAtG[i-1],this.coordAtH[i-1])
            
          }else if(this.reveal == true){
            
            this.show = this.melody[i]
            var canvas= document.getElementById("myCanvas")
            var ckey = canvas.getContext("2d")
            ckey.fillStyle = this.colorOn[i]
            ckey.fillRect(this.coordAtA[i],0,this.coordAtC[i],this.coordAtD[i])
            ckey.fillRect(this.coordAtE[i],this.coordAtF[i],this.coordAtG[i],this.coordAtH[i])
            ckey.lineWidth = 1
            ckey.strokeStyle=this.colorOn[i]
            ckey.strokeRect(this.coordAtE[i],this.coordAtF[i],this.coordAtG[i],this.coordAtH[i])
            
          }  
          
        },
        
        nextOne: function() {
          
          var i = this.count
          
         
         if(this.count > 0 && this.reveal==true){
            var canvas= document.getElementById("myCanvas")
            var ckey = canvas.getContext("2d")
            ckey.clearRect(0, 0, canvas.width, canvas.height)
            makeBoard()
              
          }else if(this.reveal== true){
            var canvas= document.getElementById("myCanvas")
            var ckey = canvas.getContext("2d")
            ckey.clearRect(0, 0, canvas.width, canvas.height)
            makeBoard()
            
          }
          
          var note = this.melody[i]+""
          var pitch = document.getElementById(note)
          pitch.load()
          pitch.play()
          this.count = this.count+1
          
        },
        
        playButton: function(event){
        
          document.getElementById("focus").focus()
          this.count = 0
          var end = this.melody.length-1
          if(this.reveal == true){
            
            this.assessment = this.check_string
            
            
          }
          if(this.first == true){
            
            this.assessment = this.melody[0]
          }
          
          if(this.reveal == true){
            var canvas = document.getElementById("myCanvas")
            var ckey = canvas.getContext("2d")
            ckey.clearRect(0,0,canvas.width,canvas.height)
            makeBoard()
          }
          
          if(event){
            clearInterval(this.timer)
            
          }
          
          var millisec = this.speed
          this.timer = setInterval(this.nextOne, millisec)
          
        }
      }
    })
            /*
Michaels-MacBook-Pro:workspace 13rewer$ npm install -g vue-cli
npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)
/usr/local/bin/vue -> /usr/local/lib/node_modules/vue-cli/bin/vue
/usr/local/bin/vue-list -> /usr/local/lib/node_modules/vue-cli/bin/vue-list
/usr/local/bin/vue-init -> /usr/local/lib/node_modules/vue-cli/bin/vue-init
+ vue-cli@2.9.2
added 264 packages in 10.457s
Michaels-MacBook-Pro:Desktop 13rewer$ vue init webpack ear-trainer 

? Project name ear-trainer
? Project description A Vue.js project
? Author michael-brewer
? Vue build standalone
? Install vue-router? Yes
? Use ESLint to lint your code? No
? Set up unit tests No
? Setup e2e tests with Nightwatch? No
? Should we run `npm install` for you after the project has been created? (recom
mended) npm

   vue-cli · Generated "ear-trainer".


# Installing project dependencies ...
# ========================


> fsevents@1.1.3 install /Users/13rewer/Desktop/ear-trainer/node_modules/fsevents
> node install

[fsevents] Success: "/Users/13rewer/Desktop/ear-trainer/node_modules/fsevents/lib/binding/Release/node-v57-darwin-x64/fse.node" already installed
Pass --update-binary to reinstall or --build-from-source to recompile

> uglifyjs-webpack-plugin@0.4.6 postinstall /Users/13rewer/Desktop/ear-trainer/node_modules/webpack/node_modules/uglifyjs-webpack-plugin
> node lib/post_install.js

npm notice created a lockfile as package-lock.json. You should commit this file.
added 1106 packages in 82.003s

# Project initialization finished!
# ========================

To get started:

  cd ear-trainer
  npm run dev
  
Documentation can be found at https://vuejs-templates.github.io/webpack


Michaels-MacBook-Pro:Desktop 13rewer$ cd ear-trainer
Michaels-MacBook-Pro:ear-trainer 13rewer$ npm run dev

> ear-trainer@1.0.0 dev /Users/13rewer/Desktop/ear-trainer
> webpack-dev-server --inline --progress --config build/webpack.dev.conf.js

 95% emitting                                                                 y      
 DONE  Compiled successfully in 20176ms                                 13:45:27

 I  Your application is running here: http://localhost:8080
 

 WAIT  Compiling...                                                     13:51:48

 95% emitting                                                                 p    
 DONE  Compiled successfully in 1891ms                                  13:51:50

 I  Your application is running here: http://localhost:8080
 

 WAIT  Compiling...                                                     13:53:12

 95% emitting                                                                 p    
 DONE  Compiled successfully in 280ms                                   13:53:12

 I  Your application is running here: http://localhost:8080
 

 WAIT  Compiling...                                                     13:53:51

 95% emitting                                                                 p    
 DONE  Compiled successfully in 289ms                                   13:53:52

 I  Your application is running here: http://localhost:8080
Michaels-MacBook-Pro:ear-trainer 13rewer$ npm run build

> ear-trainer@1.0.0 build /Users/13rewer/Desktop/ear-trainer
> node build/build.js

Hash: 6d108ef21c01804877f1
Version: webpack 3.10.0
Time: 43241ms
                                                  Asset       Size  Chunks             Chunk Names
               static/js/vendor.5973cf24864eecc78c48.js     111 kB       0  [emitted]  vendor
                  static/js/app.cbf521f9d53e5bd6d4d3.js    11.4 kB       1  [emitted]  app
             static/js/manifest.ab0e238f71526ed58153.js    1.49 kB       2  [emitted]  manifest
    static/css/app.742b959f7b6a45229cc87c3e1d1b4e88.css  432 bytes       1  [emitted]  app
static/css/app.742b959f7b6a45229cc87c3e1d1b4e88.css.map  828 bytes          [emitted]  
           static/js/vendor.5973cf24864eecc78c48.js.map     547 kB       0  [emitted]  vendor
              static/js/app.cbf521f9d53e5bd6d4d3.js.map    21.3 kB       1  [emitted]  app
         static/js/manifest.ab0e238f71526ed58153.js.map    7.79 kB       2  [emitted]  manifest
                                             index.html  513 bytes          [emitted]  

  Build complete.

  Tip: built files are meant to be served over an HTTP server.
  Opening index.html over file:// won't work.



        */
  </script>
</html>
